<%= turbo_frame_tag :login do %>
  <div class="relative w-full max-w-sm px-8 pt-6 pb-8 mx-auto mt-4 mb-4 bg-white border rounded shadow-md">
    <%= render CancelIconComponent.new %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: "block text-sm text-gray-700 font-medium" %>
        <%= f.email_field :email,
          class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500",
          autofocus: true,
          autocomplete: "email" %>
      </div>

      <div class="mb-4">
        <%= f.label :name, "Nickname (short)", class: "block text-sm text-gray-700 font-medium" %>
        <%= f.text_field :name,
          class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
      </div>

      <div class="mb-4">
        <%= f.label :password %>
        <%= f.password_field :password,
          class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500",
          autocomplete: "new-password" %>
      </div>

      <div class="mb-4">
        <%= f.submit "Sign up", class: "button" %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
