<%= turbo_frame_tag(:score_form, class: "flex items-center justify-center m-4 text-white") do %>
  <%= link_to user_path(current_user), data: { turbo: false } do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
  <% end %>
  <% if current_user.admin? %>
    <div class="flex justify-center p-4 mt-2">
      <%= link_to "Score +", new_score_path, class: "button ml-4" %>
    </div>
  <% end %>
<% end %>

<div class="mx-auto md:w-1/2">
  <%= turbo_frame_tag(:scores) do %>
    <div class="grid grid-cols-4 text-center bg-white border border-gray-300 rounded-t-md">
      <div class="p-4 text-white bg-x-axis rounded-tl-md"><%= Score::X_AXIS_TEAM_NAME %></div>
      <div class="p-4 text-white bg-y-axis"><%= Score::Y_AXIS_TEAM_NAME %></div>
      <div class="p-4">Quarter</div>
      <div class="p-4 rounded-tr-md">Final</div>
    </div>

    <% @scores.each do |score| %>
      <%= turbo_frame_tag(score, target: :score_form, class: "grid grid-cols-4 text-center bg-white border border-gray-300 even:bg-gray-300 last:rounded-b-md") do %>
        <%= render score %>
      <% end %>
    <% end %>
  <% end %>
</div>
