<%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "rounded-md bg-red-500 text-white px-4 py-2" %>

<h2>Games</h2>
<% @user.games.each do |game| %>
  <%= link_to game.share_code, game_path(game) %>
<% end %>

<h2>Squares Games</h2>

<% @user.squares_games.each do |game| %>
  <%= link_to game.share_code, game_path(game) %>
<% end %>

<%= link_to "New Game", new_game_path, class: "rounded-md bg-blue-500 text-white px-4 py-2" %>

<%= turbo_frame_tag "find_game" do %>
  <%= link_to "Find Game", new_find_game_path %>
<% end %>
