<% if current_user.all_games.any? %>
  <div class="container max-w-sm p-4 mx-auto bg-white border rounded shadow-md">
    <div class="mb-4">
      <h2 class="flex justify-center text-2xl font-bold">Games</h2>
      <% current_user.all_games.each do |game| %>
        <div class="flex items-center p-2 border-b border-gray-700 last:border-b-0">
          <%= button_to game.share_code, game_path(game.share_code), method: :get, class: "button" %>
          <div class="ml-4 text-sm italic text-gray-600">
            <% if game.users.any? %>
              <%= game.users.map(&:name).uniq.sort.join(", ") %>
            <% else %>
              "No players yet."
            <% end %>
          </div>
          <% if game.user == current_user %>
            <%= link_to "Delete", game_path(game.share_code), method: :delete, class: "text-red-500 text-sm ml-auto", onclick: "return confirm('Delete this game?')" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container max-w-sm p-4 mx-auto mt-4 bg-white border rounded shadow-md">
  <%= turbo_frame_tag :user_show_form do %>
    <div class="flex flex-col justify-between gap-4">
      <%= button_to "Find Game", new_find_game_path, method: :get, class: "button w-full" %>
      <%= button_to "Create Game", new_game_path, method: :get, class: "button w-full" %>
      <% if current_user.admin? %>
        <%= button_to "Scores", scores_path, method: :get, class: "button w-full", data: { turbo: false } %>
      <% end %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button button-red w-full", data: { turbo: false } %>
    </div>
  <% end %>
</div>
