<div class="relative w-full max-w-sm px-8 pt-6 pb-8 mx-auto mt-4 mb-4 bg-white border rounded shadow-md">
  <%= render CancelIconComponent.new(path: root_path) %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Change my password", class: "button" %>
    </div>
  <% end %>
</div>
