<%= turbo_frame_tag :user_show_form do %>
  <%= link_to user_path(current_user), class: "flex flex-row-reverse px-2 text-gray-700 text-right" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  <% end %>

  <%= form_with model: @form, url: find_games_path, method: :get, html: { target: "_top" } do |f| %>
    <% if @form.errors.any? %>
      <div class="text-center text-red-500">
        <% @form.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    <div class="mb-4">
      <%= f.label "Code", class: "block text-sm text-gray-700 font-medium" %>
      <%= f.text_field :share_code, autocomplete: "off", autofocus: true, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
    </div>
    <div class="mb-4">
      <%= f.submit "Find Game", class: "button w-full" %>
    </div>
  <% end %>
<% end %>
