<%= turbo_frame_tag :user_show_form do %>
  <%= link_to user_path(current_user), class: "flex flex-row-reverse px-2 text-gray-700 text-right" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  <% end %>

  <%= form_for(@game, data: { controller: "toggle" }) do |f| %>
    <% if @game.errors.any? %>
      <div class="text-center text-red-500">
        <% @game.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </div>
    <% end %>
    <div class="mb-4">
      <%= f.label :square_price, class: "block text-sm text-gray-700 font-medium" %>
      <div class="flex flex-row items-center">
        <span class="mr-2 text-xl text-gray-700">$</span>
        <%= f.number_field :square_price, autocomplete: "off", autofocus: true, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
      </div>
    </div>

      <span class="flex items-center justify-between mb-4">
        Payouts: 20% - 20% - 20% - 40%

        <div class="cursor-pointer" data-action="click->toggle#toggleHidden">
          <svg id="chevron-down" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
          <svg id="chevron-up" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
          </svg>
        </div>
      </span>

      <div data-toggle-target="element" class="hidden">
        <div class="mb-4">
          <%= f.label :first_quarter_payout, class: "block text-sm text-gray-700 font-medium" %>
          <div class="flex flex-row items-center">
            <%= f.number_field :first_quarter_payout, step: 1, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
            <span class="ml-2 text-xl text-gray-700">%</span>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :second_quarter_payout, class: "block text-sm text-gray-700 font-medium" %>
          <div class="flex flex-row items-center">
            <%= f.number_field :second_quarter_payout, step: 1, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
            <span class="ml-2 text-xl text-gray-700">%</span>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :third_quarter_payout, class: "block text-sm text-gray-700 font-medium" %>
          <div class="flex flex-row items-center">
            <%= f.number_field :third_quarter_payout, step: 1, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
            <span class="ml-2 text-xl text-gray-700">%</span>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :final_payout, class: "block text-sm text-gray-700 font-medium" %>
          <div class="flex flex-row items-center">
            <%= f.number_field :final_payout, step: 1, class: "w-full mt-1 px-3 py-2 leading-tight text-gray-700 border border-none rounded shadow appearance-none bg-gray-100 focus:outline-none focus:ring focus:ring-blue-500" %>
            <span class="ml-2 text-xl text-gray-700">%</span>
          </div>
        </div>
      </div>

    <div class="mb-4">
      <%= f.submit "Create Game", class: "button w-full" %>
    </div>
  <% end %>
<% end %>
