<div class="fixed inset-0 flex items-center justify-center text-lg text-center text-white bg-red-600 sm:hidden landscape:hidden">
  <p>Please rotate your device to landscape mode for a better experience.</p>
</div>

<div class="flex items-center ml-4 text-white">
  <%= link_to user_path(current_user) do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to "Scores", scores_path, class: "text-white ml-4", data: { target: "_top" } %>
  <% end %>
</div>

<% if @decorated_game.locked? %>
  <div class="grid w-3/4 grid-cols-5 mx-auto mb-4 text-center bg-white rounded-lg">
    <div class="p-2 border-b border-r border-gray-300"></div>
    <div class="p-2 border-b border-r border-gray-300">1st</div>
    <div class="p-2 border-b border-r border-gray-300">2nd</div>
    <div class="p-2 border-b border-r border-gray-300">3rd</div>
    <div class="p-2 border-b border-gray-300">Final</div>

    <div class="p-2 text-white border-b border-l border-r border-gray-300 bg-x-axis"><%= Score::X_AXIS_TEAM_NAME %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.first_quarter_x_axis_score %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.second_quarter_x_axis_score %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.third_quarter_x_axis_score %></div>
    <div class="p-2 border-b border-gray-300"><%= @decorated_game.fourth_quarter_x_axis_score %></div>

    <div class="p-2 text-white border-b border-l border-r border-gray-300 bg-y-axis"><%= Score::Y_AXIS_TEAM_NAME %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.first_quarter_y_axis_score %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.second_quarter_y_axis_score %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.third_quarter_y_axis_score %></div>
    <div class="p-2 border-b border-gray-300"><%= @decorated_game.fourth_quarter_y_axis_score %></div>

    <div class="p-2 border-b border-r border-gray-300">🏆</div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.first_winner %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.second_winner %></div>
    <div class="p-2 border-b border-r border-gray-300"><%= @decorated_game.third_winner %></div>
    <div class="p-2 border-b border-gray-300"><%= @decorated_game.fourth_winner %></div>

    <div class="p-2 border-r border-gray-300">💰</div>
    <div class="p-2 border-r border-gray-300"><%= number_to_currency(@decorated_game.first_amount) %></div>
    <div class="p-2 border-r border-gray-300"><%= number_to_currency(@decorated_game.second_amount) %></div>
    <div class="p-2 border-r border-gray-300"><%= number_to_currency(@decorated_game.third_amount) %></div>
    <div class="p-2"><%= number_to_currency(@decorated_game.fourth_amount) %></div>
  </div>
<% else  %>
  <div class="flex items-center justify-center w-10/12 mx-auto mb-4">
    <%= render CardComponent.new do  %>
      <div class="flex p-1">
        <span class="font-light">Share Code:</span> <span class="ml-2 font-bold"><%= @decorated_game.share_code %></span>
      </div>
      <%= turbo_frame_tag(:payment_options, class: "flex flex-col") do %>
        <% @decorated_game.user.payment_options.each do |payment_option| %>
          <%= turbo_frame_tag(payment_option) do %>
            <%= render payment_option %>
          <% end %>
        <% end %>
      <% end %>
      <% if @decorated_game.user == current_user %>
        <%= turbo_frame_tag(:payment_option, class: "flex justify-center mt-2") do %>
          <%= button_to "Add Payment Option", new_payment_option_path, method: :get, class: "button border border-white" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="flex items-center justify-around w-10/12 mx-auto mb-4">
    <% if @decorated_game.user == current_user %>
      <%= button_to "Lock Squares and Assign Numbers", lock_game_path(@decorated_game.share_code), method: :patch, class: "button button-red border border-white", data: { turbo_confirm: "Lock this game? This cannot be undone." } %>
    <% end %>
  </div>
<% end %>

<div class="w-10/12 mx-auto mb-4">
  <div class="grid grid-cols-11 gap-1">
    <div class="bg-transparent border-none square">
    </div>
    <% @decorated_game.x_headers.sort_by(&:position).each do |header| %>
      <div class="text-white bg-x-axis square">
        <%= header.value if @decorated_game.locked? %>
      </div>
    <% end %>
    <% @decorated_game.y_headers.sort_by(&:position).each do |header| %>
      <div class="text-white bg-y-axis square">
        <%= header.value if @decorated_game.locked? %>
      </div>
      <% @decorated_game.squares.filter { |square| square.y == header.position }.sort_by(&:x).each do |square| %>
        <%= turbo_frame_tag(square) do %>
          <%= render(SquareComponent.new(square)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="flex flex-col w-full mx-2 bg-white rounded-lg sm:w-3/4 sm:mx-auto">
  <div class="grid grid-cols-7 gap-1 px-4 py-2 border-b border-gray-200 border-double">
    <div class="text-center">Name</div>
    <div class="text-center">Squares</div>
    <div class="text-center">Paid in</div>
    <div class="text-center">Winnings</div>
    <div class="text-center">Paid out</div>
    <div></div>
    <div></div>
  </div>
  <%= turbo_frame_tag(:game_payments) do %>
    <% @decorated_game.payments.each do |payment| %>
      <%= turbo_frame_tag(payment, class: "grid grid-cols-7 gap-1 px-4 py-6 border-b border-gray-200 last:border-b-0 even:bg-gray-200") do %>
        <%= render payment, payouts: @decorated_game.payouts %>
      <% end %>
    <% end %>
  <% end %>

  <div class="grid grid-cols-7 gap-1 px-4 py-2 border-t border-b border-gray-200 rounded-b-lg">
    <div class="font-bold text-center">Total</div>
    <div class="font-bold text-center">$<%= @decorated_game.total_squares_amount %></div>
    <div class="col-span-2 text-center"></div>
  </div>
</div>
