<div id="<%= dom_id header %>">
  <p>
    <strong>Game:</strong>
    <%= header.game_id %>
  </p>

  <p>
    <strong>Axis:</strong>
    <%= header.axis %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= header.position %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= header.value %>
  </p>

</div>
