<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>SuperBowlSquares</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="min-h-screen bg-gradient-to-b from-red-700 to-indigo-700">
    <%= yield %>
  </body>
</html>
