<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>SuperBowlSquares</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <%# <body class="min-h-screen bg-gradient-to-b from-red-700 to-indigo-700"> %>
  <body class="bg-slate-400">
    <div class="mb-4">
      <p class="p-2 text-white bg-green-500"><%= notice %></p>
      <p class="p-2 text-white bg-red-500"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
